#about-body {
  margin-top: 57px;
  font-size: 1em;
  background-color: $gray;

}

.banner {
  text-align: center
}

#about-line-divider {
  background-color: $primary;
  width: 130px;
  height: 8px;
}

#about-heading {
  background-image: linear-gradient(rgba(51, 51, 102, 0.4), rgba(51, 51, 102, 0.4)), url("/src/assets/about_us_background.jpg");
  height: 60vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

}

#about-heading h1 {
  font: 4em "Soleil Bold", sans-serif;

  text-transform: uppercase;

}

#about-heading p {
  margin-top: 13px;
  font: 1.7em "Open Sans Light", sans-serif;

}

#about-asthetic-triangle {
  width: 100%;
  //height: 50px;
  // object-fit: fill;
  display: block;
}

#about-story > * {
  border-left: 1.6vw solid transparent;
  border-right: 1.6vw solid transparent;
  border-bottom: 3vw solid transparent;
  background-clip: padding-box;

}

#about-story {
  display: inline-flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  padding: 60px 5vw 0px 5vw;
  line-height: 1.7em;
  //margin:0 -15px;
}

#about-story h2, #about-story h3 {
  font-family: "Soleil Bold", sans-serif;
  text-transform: uppercase;

}

#about-story h2 {
  font-weight: bolder;
}

#about-story-creation {
  flex: 1 0 65%;
  background-color: white;
  padding: 30px 2vw;

}

#about-story-creation h2 {
  color: $dark;
}

#about-story-creation p {

  margin: 20px 5vw 20px 1.5vw;
  font: 1em "Open Sans Light", sans-serif;
  line-height: 1.6em;
  color: $secondary;
}

button.readmore-toggle {
  display: none;
}

@media (max-width: 800px) { //The readmore toggle
  #about-story-creation {
    height: 350px;
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
    transition: 1s ease-in-out;
  }
  #about-story-creation p {
    margin-bottom: 45px;
  }
  button.readmore-toggle {
    display: inline-block;
    background-color: $secondary;
    padding: 24px;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: 20px;
    right: 30px;
  }

  button.readmore-toggle:focus {
    outline: none;
  }

  button.readmore-toggle span {
    position: absolute;
    background-color: white;
    border-radius: 2px;
    transition: 1s;
  }
  button.readmore-toggle span:first-of-type {
    top: 25%;
    bottom: 25%;
    width: 10%;
    left: 45%;
  }
  button.readmore-toggle span:last-of-type {
    left: 25%;
    right: 25%;
    height: 10%;
    top: 45%;
  }
}


#about-story-uni {
  flex: 1 0 35%;
  background-color: $darker;
  padding: 30px 2vw;

}
#about-story-uni *{
  color: white;
}

#about-story-uni h3 {
  font-size: 1.4em;
}

#about-story-uni ul {
  list-style: none;
  margin: 20px 1vw 0 1vw;
  overflow: visible;
  position: relative;
}

#about-story-uni li {
  padding: 15px 0;
  font: 1.2em "Open Sans Light", sans-serif;
}


#about-unis-offer-line {
  background-color: $primary;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 3px;
  position: absolute;

}


#about-story-message {
  flex: 0 0 100%; /* Let it fill the entire space horizontally */
  background-color: white;
  text-align: center;
  padding: 30px 5vw;
}

#about-story-message h3 {
  color: $dark;
  font-weight: bolder;
}


#down-arrow {
  stroke: none;
  fill: $darker;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#our-team {
  margin-top: 35px;
  padding: 30px 5vw;
  background-color: $darker;
  color: white;

}

#our-team h2 {
  font: 2.6em "Soleil Bold", sans-serif;
  text-transform: uppercase;
}

#profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 3px;
  //max-width: 150px;
}
#profiles hr{
  width: 100%;
  opacity: 0;
}

@media screen and (max-width: 900px) {
  #profiles hr {
    display: none;

  }
}

.profile-card {
  width: 400px;
  height: 500px;
  margin: 20px 10px;
  position: relative;
  overflow: hidden;
}

.profile-card svg {
  width: 30px;
  transform: rotate(180deg);
}


.profile-overlay {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 51, 0.80);
  padding: 10px 15px;
  overflow: hidden;
  width: 100%;
  height: 160px;//This is how much is currently revealed on the profile card
  transition: .5s ease;
}

@media (hover: hover) {
  .profile-card:hover .profile-overlay {
    height: 100%;
  }
  .profile-card:hover .mobile-open-arrow {
    transform: rotate(180deg);

  }
}

.profile-horizontal-div {
  width: 80%;
  height: 2px;
  background-color: white;
  margin: 10px 0;
}

.profile-horizontal-div-2 {
  width: 21px;
  height: 3px;
  background-color: $primary;
  margin: 10px 0;
}

.profile-overlay > * {
  display: block;
  color: white;
}

.profile-overlay .mobile-open-arrow {
  position: absolute;
  width: 25px;
  top: 20px;
  right: 30px;
  transition: .5s ease;
}


.profile-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.profile-overlay h4 {
  font-family: "Soleil Book", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.profile-overlay h5 {
  font: 1em "Soleil Regular", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  margin-right: 10px;
  //min-height: 40px;
}
.profile-overlay h5.position{
  font: 1em "Open Sans Light", sans-serif;
  text-transform: none;
  color: rgb(215, 215, 215);
}

.profile-overlay h6 {
  font-family: "Soleil Regular", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.profile-overlay h6[data-i18n="profile-role-heading"] {
  margin-top: 20px;
}

.flip {
  transform: rotate(-180deg);
}

.profile-overlay li, .profile-overlay p {
  font: 0.9em "Open Sans Light", sans-serif;
  line-height: 1.7em;
}

@media screen and (max-width: 1000px) {
  #about-story-creation {
    flex: 1 0 100%;
  }
}


@media screen and (max-width: 600px) {
  #about-story {
    padding: 60px 0vw 0px 0vw;
  }
  #about-story h2, #about-story h3 {
    text-align: center;
  }
  #about-story > * {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-clip: padding-box;

  }
  #down-arrow {
    margin-top: 50px;
  }
  #profiles {
    font-size: 14.5px;
  }
  .profile-horizontal-div-2 {


    margin: 14px 0;
  }
}