#sidebar-div {
  // padding-left: 1vw;
  padding-top: 15px;
}

#sidebar {
  width: 250px;
  top: 0;
  left: 0;
  // min-height: 100vh;
  max-height: 60vh;
  overflow-y: scroll;
  position: sticky;
  background: white;
  color: $dark;
  transition: all 0.3s;
  border-right: 2px solid $gray;


}

#sidebar .sidebar-header {
  padding-left: 20px;
}

#sidebar ul {
  padding-left: 0;
  list-style-type: none;
}

.sidebar-nav a.icon {
  font-size: 60px;
  padding-top: 0;
  display: none;
  color: $dark;
  transform: rotate(90deg);
  text-decoration: none;
}

.sidebar-nav a.icon:hover {
  color: $primary;
}


#sidebar .sidebar-components .sidebar-item a {
  color: $dark;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;
  transition: background-color 400ms, color 400ms;

}


#sidebar .sidebar-components .sidebar-item a:hover {
  background-color: $dark;
  color: white;

}

#sidebar .sidebar-components .sidebar-item .course-unit-dropdown {
  //color: $dark;
  font-size: 13px;
}

#sidebar .sidebar-components .sidebar-item .course-unit-dropdown li a {
  padding-left: 30px;
  display: block;
}

@media screen and (max-width: 800px) {
  #nav-bar.alongside-sidebar {
    position: relative;
  }
  .wrapper {
    flex-direction: column;
    position: relative;
    top: 0px;
  }
  #sidebar {
    min-height: 20px;
    border-right: 0;
    width: 100%;
    max-height: 70vw;
    overflow: auto;
    padding-top: 0;

  }
  #sidebar-div {
    background: white;
    position: sticky;
    position: -webkit-sticky; /* for Safari */
    z-index: 100;
    top: 0;
    align-self: flex-start;
    width: 100%;
    min-height: 55px;
    border-right: 0;
    padding-top: 5px;

  }
  #sidebar-components {
    margin: 0;
  }
  #main-info.alongside-sidebar {
    padding-top: 0;

  }


  #sidebar .sidebar-header {
    display: inline-block;
  }
  .sidebar-nav .sidebar-components .sidebar-item {
    display: none;
  }
  .sidebar-nav a.icon {
    position: absolute;
    right: 40px;
    top: -30px;
    display: block;
  }


  .sidebar-nav.responsive .sidebar-components .sidebar-item {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
