//Styling for the header and footer of every page

//=====================================
//Table of contents
//1. Header
////1a. Header General Formatting

//2. Footer
//3. WECHAT MODAL
//=====================================


//1. Header
//1a. Header General formatting

//Top Navigation Page
#header { //This is the element that the js inserts code into (use this only for positioning!!!)
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: $darker;
  display: grid;
  grid-template-columns: 5% auto minmax(30px, 3fr) 5%;
  height: 58px;
}

//This is for the dropdown pill on the header (mobile)
#nav-toggle {
  position: absolute;
  top: -999px;
  left: -999px;
}

//Make all the text white
#header * {
  color: white;
}

//Contains the logo picture and "PlanningU
.logo-container {
  grid-column: 2/3;
  display: flex;
  align-items: center;
}

a.navbar-brand {
  font: 30px "Poppins", sans-serif;


}

#logo-image {
  margin-right: 10px;
}

.nav-items {
  grid-column: 3/4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav-item {
  //margin: 0 10px;
  transition: background-color 0.5s ease;
  padding: 0 12px;
}

a.nav-link {
  padding: 20px 0;
  margin-top: -4px;
  font: 1rem "Open Sans Light", sans-serif;
  white-space: nowrap;
  position: relative;
}

a.nav-link:before{
  content: '';
  position: absolute;
  top: 70%;
  transition: width 500ms ease;
  width: 0;
  height: 1px;
  //border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.8)
}
a.nav-link:hover:before{

  width: 100%;

}


.dropdown {
  position: relative;
}

.dropdown-content {
  //display: none;
  overflow: hidden;
  position: absolute;
  left: 0;
  background: $darker;
  list-style: none;
  padding-left: 0;
  max-height: 0;
  transition: max-height 0.8s;
  min-width: 100%;

}

.dropdown:hover{
  background-color: lighten($darker, 5%);
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: lighten($darker, 5%);
  max-height: 200px;
}

.dropdown .toggle-dropdown::after {
  content: ">";
  //transform: rotate(90deg);
  position: relative;
  font-size: 10px;
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: scaleX(2.2) rotate(90deg);
  margin-left: 10px;



}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {
  background-color: lighten($darker, 15%);
}



//Slider Language Toggle
.switch {
  position: relative;
  margin: 0;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #075AAA;
  -webkit-transition: .4s;
  transition: .4s;
}

#language-toggle-item span {
  font: 1rem "Open Sans Light", sans-serif;
}
#language-toggle-item:hover #en,#language-toggle-item:hover #zh {
  opacity: 80%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background: url("/PlanningU/src/assets/uk_flag.png") center /cover;
  -webkit-transition: .4s;
  transition: .4s;
}

#language-toggle-input:checked + .slider:before {
  background: url("/PlanningU/src/assets/chinese_flag.png") center /cover;
}

#language-toggle-input:checked + .slider {
  background-color: #BD132D;
}

#language-toggle-input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 5px;
}

.slider.round:before {
  border-radius: 10%;
}
//-------------------------------------------


//Social Media Icons for Header
a.fa {
  padding: 0;
  color: white;
}

div.social-media a icon {
  padding-left: 0;
  padding-right: 0;

}

.social-media a i {
  font-size: 23px;
  padding: 0 5px;
}

.social-media a i:hover{
  opacity: 90%;
}
.social-media a:link{
  text-decoration: none;
}
//-----------------------------------


// Header for mobile devices
@media (max-width: 1230px) {
  #header {
    display: block;
  }
  .logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }

  .nav-toggle-label {
    position: absolute;
    right: calc(2vw + 20px);
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 35px;
    background-color: transparent;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-toggle-label .line {
    width: 60%;
    //float: left;
    height: 2px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2px;
    pointer-events: none;
    transition: all 0.3s linear;
  }

  .nav-items {
    position: absolute;
    text-align: left;
    top: 98%;
    left: 0;
    background: $darker;
    width: 100%;
    height: 0;
    transition: height 1.2s ease;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    z-index: -5;
  }

  .nav-item {
    opacity: 0;
    padding: 0;
    transition: opacity 600ms ease-in-out;
  }

  a.nav-link {
    width: 100vw;
    padding: 2vh 0 0 calc(10vw + 5px);
    font: 1.2rem "Open Sans Light", sans-serif;


  }
  a.nav-link, a.dropdown-item{
    box-shadow: inset 0 0 0px 0 rgba(212, 212, 212, 0);
    transition: box-shadow 200ms ease;
  }
  a.nav-link:active, a.dropdown-item:active{
    box-shadow: inset 100vw 0 0px 0px rgba(212, 212, 212, 0.17);
  }

  a.nav-link:before{
    display: none;
  }

  #language-toggle-item span {
    font: 1.2rem "Open Sans Light", sans-serif;
  }

  //Header Toggle for Mobile (3 rectangles)
  .nav-toggle:checked ~ .nav-items {
    height: 100vh;
  }

  .nav-toggle:checked ~ .nav-toggle-label .line:first-child,
  .nav-toggle:checked ~ .nav-toggle-label .line:last-child{
    position: absolute;
    width: 40%;


    transform:  rotate(-45deg) scaleX(1.3);
    margin: 0;
  }
  .nav-toggle:checked ~ .nav-toggle-label .line:nth-child(2){
    height: 0;
    margin: 0;
  }
  .nav-toggle:checked ~ .nav-toggle-label .line:last-child{
    transform: rotate(45deg) scaleX(1.3);
  }

  .nav-toggle:checked ~ .nav-items .nav-item {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  //------------------------------------------------

  //Text formatting
  .dropdown:hover .dropdown-content {
    background-color: initial;
  }
  .dropdown:hover{
    background-color: initial;
  }

  .dropdown-content {
    max-height: initial;
    display: block;
    position: initial;
    background: $darker;
    list-style: none;
    padding-left: calc(10vw + 25px);
  }
  .dropdown-content a {
    font: 1.1rem "Open Sans Light", sans-serif;
  }
  .dropdown-content a:hover {
    background-color: inherit;
  }

  .nav-item:last-child > *:first-child {
    padding: 4vh calc(10vw + 5px);
    width: 100vw;
  }
  #language-toggle-item div {
    padding: 2vh calc(10vw + 5px);
    width: 100vw;
  }
  .dropdown .toggle-dropdown::after {
    appearance: none;
    content: '';
    display: block;
    //width: 100%;
    transform: initial;
    margin-top: 4px;
    margin-left: 0;
    margin-right: calc(5vw + 20px);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.47)
  }

  .nav-item:not(:first-child)::before {
    content: '';
    display: block;
    margin-top: 4px;
    margin-left: calc(10vw + 5px);
    margin-right: calc(5vw + 20px);
    //width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.47)

  }
  .nav-item:first-child::before {
    content: '';
    display: block;
    margin-top: 4px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.47)
  }

  .social-media a i {
    font-size: 35px;
    padding: 0 5px;
  }

}

@media (max-width: 400px) {
  .logo-container {
    position: relative;
    padding-left: 15px;
  }
  a.nav-link, #language-toggle-item span {
    font-size: 1.2rem;
  }

  .dropdown-content a {
    font: 1rem "Open Sans Light", sans-serif;
  }
}


//2. Footer=======================================


#footer-container, #copyright {
  text-align: center;
  color: white;
}

#footer-container {
  background-color: $darker;
  padding-bottom: 20px;


}

#footer-container h3 {
  font: 23px "Brandon Grotesque M", sans-serif;
}

#footer-container .header-nav a, .social-media a {
  font: 15px "Brandon Grotesque M", sans-serif;
  color: white;

}

#email-address-footer {
  font: 16px "Brandon Grotesque M", sans-serif;
  color: white;
}


#copyright {
  background-color: $primary;
  font: 10px "Soleil Bold", sans-serif;

}

#copyright h3 {
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 17px;
}

.header-nav {
  font: 20px "Soleil Bold", sans-serif;
  padding-top: 15px;
}

.header-nav a {
  padding-left: 2vw;
  padding-right: 2vw;
  color: white;

  display: inline;
}

.footer-vertical-divider {
  display: inline-block;
  width: 1.5px;
  height: 20px;
  background-color: $secondary;
}

.no-margin {
  margin-bottom: 0;
}
//=======================================================

//3. WECHAT MODAL

/* The Modal (background) */
.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */

  width: 100vw;
  height: 100vh;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content */
.popup-content {
  position: absolute;
  top: 5%;
  left: 50%;
  max-width: 40%;
  min-width: 260px;
  transform: translate(-50%);
  background-color: #ffffff;
  margin: auto;
  padding-top: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* The Close Button */
.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 50px;
  font-weight: bold;
}

.popup-content img {
  width: 85%;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


//FOR WHENEVER WE HAVE AN ALERT BANNER

.alert-banner{
  background: $accent;
  width: 100%;
  padding: 10px 5vw;
  text-align: center;
  position: relative;
 // display: flex;
}
.alert-banner > *{
  font: 1rem "Soleil Regular", sans-serif;
  text-transform: uppercase;
  color: white;
  margin: 0 20px;

}

.alert-banner .alert-text{
  //white-space: normal;
  // margin-left: 10vw;
  display: inline-block;
  min-width: 200px;
}

.alert-banner a{
  white-space: nowrap;
}
.alert-banner a:hover{
  color: white;
}
.close-x{
  font-size: 1.5rem;
  margin: 0;
  position: absolute;
  top: 0px;
  right: 30px;
  cursor: pointer;
}

//=========================================================