//SlideShow on homepage

.slideshow-container {
  position: relative;
  background-color: black;
}

.slide {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100vh;

}

.slideshow-container .slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);

}


#slogan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 50%;

  left: 50%;
  transform: translate(-50%, -60%);
  padding: 0 2vw;
  //margin: 0 50%;
}

#slogan > * {
  text-align: center;

}

#slogan h2 {
  font: 80px Fjalla One, sans-serif;
  margin: 0;
}

#slogan h3 {
  margin-top: 20px;
  font: 30px "Open Sans Light", sans-serif;
  flex: 0 0 100%;
}


.slideshow-text {
  color: white;
}


#slogan-vertical-divider {
  width: 5px;
  max-width: 80px;
  height: 80px;
  //max-height: 80px;
  background: white;
  margin: 20px 40px;

}

@media (max-width: 1068px) {
  #slogan > * {
    flex: 0 0 100%;
    text-align: center;
  }
  #slogan-vertical-divider {
    width: 80px;
    height: 5px;
  }

}

@media (max-width: 420px) {
  #slogan h2 {
    font-size: 17vw;
  }
  #slogan h3 {
    font-size: 25px;
  }
}

/* Next & previous buttons */
.slideshow-container a.prev, .slideshow-container a.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  opacity: 50%;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

//**************************


//Home Page Cards
.home-card {
  position: relative;
  width: 100%;
  height: 600px;


  //overflow-y: hidden;
}


#globe-svg {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  filter: brightness(70%);
}

#learn-more-card-body {
  z-index: 2;
}


#university-application-card {
  background-color: $dark;
}

.home-card .card-body {
  z-index: 1;
  position: absolute;
  //color: $primary;
  left: 8%;
  top: 20%;
  width: 84%
}

#university-application-card .card-body {
  text-align: right;
}

#high-school-card .card-body {
  border: 15px solid $primary;
  background-color: white;
  left: -20px;
  border-radius: 15px;
  padding-left: 10vw;
  width: 90%;
  min-width: 280px;
  box-shadow: 5vw 10px rgba(113, 200, 240, 0.2);
}


.home-card .card-body h3 {
  font: 60px bolder, "Open Sans", sans-serif;
  margin-bottom: 20px;

}

#learn-more-card .card-body h3, #high-school-card .card-body h3 {
  color: $darker;

}

#university-application-card .card-body h3 {
  color: white;
}

.home-card .card-body h4 {
  font: 36px bolder, "Open Sans", sans-serif;
  margin-bottom: 20px;
  padding-top: 30px;
}

#learn-more-card .card-body h4, #high-school-card .card-body h4 {
  color: $dark;
}

#university-application-card .card-body h4 {
  color: white;
}

.home-card .card-body a {
  font: 25px bolder, "Open Sans", sans-serif;
  display: inline-block;
  background-color: $primary;
  color: white;
  align-items: center;
  text-align: center;

  padding:  10px;
  border-radius: 3px;
  margin-top: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 601px) and (max-width: 1000px) {

  .home-card .card-body {
    left: 8%;
    top: 6vw;
    width: 84%
  }
  .home-card .card-body h3 {
    font-size: 6vw;
    margin-bottom: 20px;
  }
  .home-card .card-body h4 {
    font: 34px bolder, "Open Sans", sans-serif;
    margin-bottom: 20px;
    padding-top: 30px;
  }
  .home-card .card-body a {
    font: 25px bolder, "Open Sans", sans-serif;
    display: inline-block;

  }
  #high-school-card .card-body {

    width: 90%;

  }


}


#curve1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: white;
}

#high-school-card svg pattern {

  stroke: #fd63a3;
  position: absolute;

}


#card-grid-1 pattern {
  stroke: $primary;
  position: absolute;

}


.dotted-grid {
  position: absolute;
  top: 40%;
  left: 5%;

  height: 50%;
  width: 50%;
  opacity: 50%;
  background-image: url("/src/assets/Index/dot_grid.svg");
  background-size: cover;
}

.rect-1 {
  position: absolute;
  top: -110px;
  left: 15%;

  border-radius: 25px;
  background: $primary;
  padding: 20px;
  width: 500px;

  height: 160px;
}

.rect-2 {
  position: absolute;
  top: -10px;
  left: 40%;
  border-radius: 25px;
  background: #B44C78;
  padding: 20px;
  width: 300px;
  height: 120px;
}

@media screen and (max-width: 600px) {
  .home-card .card-body {
    left: 4%;
    width: 92%;
    top: 4vw;
  }
  .home-card .card-body h3 {
    font-size: 11vw;
    margin-bottom: 0px;
  }
  .home-card .card-body h4 {
    font: 26px bolder, "Open Sans", sans-serif;
    margin-bottom: 20px;
    padding-top: 30px;
  }
  .home-card .card-body a {
    font: 23px bolder, "Open Sans", sans-serif;
    display: inline-block;

  }
  #high-school-card .card-body {
    width: 95%;
  }

  .rect-1 {
    top: -80px;
    left: 0;
    width: 90%;
    border-radius: 0 20px 20px 0;
    height: 100px;
  }

  .rect-2 {
    top: -10px;
    left: 0px;
    width: 95%;
    height: 120px;
    border-radius: 0 20px 20px 0;
  }
}
