//**********FORMATTING FOR THE HIGH SCHOOL AND UNI CONTENT
//***THIS IS SUBJECT TO CHANGE/BE SEPARATED INTO 2 FILES IF THE FORMATTING CHANGES FOR EITHER SECTION

.wrapper {
  display: flex;
  width: 100%;
  //margin-top: 59px;
  // position: relative;
  flex-direction: row;
}



//Course information
.course-title {
  height: 65vh;
  background-image: linear-gradient(rgba(0, 0, 51, 0.7), rgba(0, 0, 51, 0.7)), url("/src/assets/university_backdrop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: #cbcbcb 0 25px;
  overflow: hidden;

}

.course-title img{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  object-fit: cover;
filter: brightness(0.6);


}

.wrapper #main-info .course-title .title {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
}

.course-vertical-bar { //The vertical line beside each title
  position: absolute;
  transform: translateY(-50%);
  left: 5%;
  top: 50%;
  width: 5px;
  background-color: white;
  height: 70%;
}

.wrapper #main-info > *:not(:first-child):not(:last-child) {
  padding-left: 8%;
  padding-right: 15%;
}
.wrapper #main-info {
  //padding-bottom: 100px;
}

#main-info #footer{
 margin-top: 100px;
}

@media screen and (max-width: 800px) {
  .wrapper #main-info > *:not(:first-child):not(:last-child) {
    padding-right: 8%;
  }
}

.wrapper #main-info h1 {
  padding-top: 80px;
  font-size: 50px;
}

.wrapper #main-info > h1{
  margin-top: 50px;
}

@media screen and (max-width: 400px){
  .wrapper #main-info h1 {
    font-size: 40px;
  }
}

.wrapper #main-info h1:not(:first-child), .wrapper #main-info h2 {
  padding-bottom: 10px;
  padding-top: 50px;
  font-family: "Fjalla One Regular", sans-serif;
  color: $dark;
}



.wrapper #main-info h2 {
  font-size: 30px;
}

.wrapper #main-info p, .wrapper #main-info ul li, .wrapper #main-info ul li a, .wrapper #main-info ol li {
  font-size: 18px;
  font-family: "Lato Medium", sans-serif;
  color: $secondary;
}

.wrapper #main-info p {
  padding-top: 25px;
}

.wrapper #main-info ul, .wrapper #main-info ol {
  margin-left: 2%;
}

.wrapper #main-info p.difficulty-stars {
  // font-size: 180px;
  font-family: "Brandon Grotesque Medium", sans-serif;
  color: $accent;
}
