
//Font Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@469&display=swap');
//PingFang
@font-face {
  font-family: 'PingFang';
  src: url('../../src/assets/fonts/PingFangSCRegular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('../../src/assets/fonts/PingFangSCRegular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Soleil Regular';
  src: url('../../src/assets/fonts/soleil.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Soleil Bold';
  src: url('../../src/assets/fonts/soleil-bold.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Soleil Book';
  src: url('../../src/assets/fonts/soleilbk.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Soleil SemiBold';
  src: url('../../src/assets/fonts/soleilsb.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Brandon Grotesque Medium';
  src: url('../../src/assets/fonts/transat_medium-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('../../src/assets/fonts/transat_medium-webfont.woff') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Fjalla One Regular';
  src: url('../../src/assets/fonts/FjallaOne-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


$primary: #71c8f0;
$secondary: #6666ad;
$accent: #b44c78;
$gray: #e8e9f0;
$dark: #333366;
$darker: #000033;


//Adding custom spacers to increase flexibility
$spacer: 1rem !default;
$spacers: (
        6: ($spacer * 4), //64px
        7: ($spacer * 5), //80px
        8: ($spacer * 6.25), //100px
        9: ($spacer * 7.5), //120px
        10: ($spacer * 9.375) //150px
);

html{
  font-size: 100%;
}


#main-info {
  margin-top: 54px;
  font-size: 1em;
}


#main-info.alongside-sidebar, #sidebar {
  margin-top: 0px;
  padding-top: 54px;
}



//Submenus !!!NOT USED CURRENTLY
/*.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {

  transform: translate(0, -8%);
  position: relative;


  border-radius: 6px 6px 6px 6px;

}


.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}


.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: left;
  transform: scaleX(-1);
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
  margin-left: -20px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-menu {
  min-width: 50px !important;
}*/



#page-description {
  background-color: $primary;

}

#page-description p, #page-description h2 {
  color: white;
}

#reasons {
  list-style: none;
}




#landscape-image img { //for making the image resize when page is adjusted

  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}

.card-text {
  color: #AAAAAA;
}











//*************//*************//*************
//*************
//Importing all other files

@import "header_footer.scss";
@import "homepage.scss";

@import "uni_highschool.scss";////content_sidebar must be after uni_highschool
@import "content_sidebar.scss";
@import "about.scss";
//*************
//*************
// Bootstrap Sass Imports ***MAKE SURE THIS IS AT THE BOTTOM IN ORDER FOR YOUR OVERRIDES TO WORK
// Bootstrap Sass Imports ***MAKE SURE THIS IS AT THE BOTTOM IN ORDER FOR YOUR OVERRIDES TO WORK
// Bootstrap Sass Imports ***MAKE SURE THIS IS AT THE BOTTOM IN ORDER FOR YOUR OVERRIDES TO WORK
@import "/node_modules/bootstrap/scss/bootstrap";



