//Font Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@469&display=swap');
//PingFang
@font-face {
  font-family: 'PingFang';
  src: url('/src/assets/fonts/PingFangSCRegular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('/src/assets/fonts/PingFangSCRegular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'Soleil Bold';
  src: url('/src/assets/fonts/transat_medium-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('/src/assets/fonts/transat_medium-webfont.woff') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'Brandon Grotesque Medium';
  src: url('/src/assets/fonts/SoleilW01Bold.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('/src/assets/fonts/SoleilW01Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'Fjalla One Regular';
  src: url('/src/assets/fonts/FjallaOne-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


$primary: #71c8f0;
$secondary: #6666ad;
$accent: b44c78;
$gray: #e8e9f0;
$dark: #333366;
$darker: #000033;


//Adding custom spacers to increase flexibility
$spacer: 1rem !default;
$spacers: (
        6: ($spacer * 4), //64px
        7: ($spacer * 5), //80px
        8: ($spacer * 6.25), //100px
        9: ($spacer * 7.5), //120px
        10: ($spacer * 9.375) //150px
);

//Design Adjustments
* {
  // box-sizing: border-box;
}

html, body {
  // max-width: 100vw;
  // overflow-x: hidden;

}


//Scrollbar
::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, $primary, rgba(21, 238, 1, 0.5));

  border-radius: 10px 10px 10px 10px;
  height: 50vh;

}

//Button Press Animation
button.btn.btn-primary {
  overflow: hidden;
  position: relative;

}

button.btn.btn-lang {
  background-color: transparent;
  border: none;
  padding: 5;

  width: 40;
  height: 40;
  border-radius: 40;


}


#button-animate {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

button.btn.btn-lang:focus {
  outline: 0;
}


@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0.5;
  }
}


//Navbar


#nav-bar {
  top: 0;
  background-color: $darker;
  color: #ffffff;

  position: -webkit-sticky;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding-left: 3vw;
  padding-right: 3vw;


}


//Navbar brand
#nav-bar .navbar-brand {
  color: white;
  padding-left: 3vw;
  font: bold 30px Poppins, sans-serif;
}

#nav-bar .navbar-brand:hover { //What did I do to deserve this
  color: white;
}

#navbar-btn-toggle {
  width: 47px;
  height: 34px;
  background-color: #ffffff;
}

#navbar-btn-toggle .line {
  width: 100%;
  float: left;
  height: 3px;
  background-color: $darker;
  margin-bottom: 5px;
  border-radius: 1px 1px 1px 1px;
}

ul.dropdown-menu.dropdown-menu-left {
  color: white;
  background-color: $dark;
  left: -10px;
  top: 45px;
}

ul.dropdown-menu.dropdown-menu-left li a,
ul.dropdown-menu.dropdown-menu-left li button,
ul.dropdown-menu.dropdown-menu-left li h6 {
  color: white;
}

ul.dropdown-menu li a:hover, ul.dropdown-menu li button:hover {
  background-color: blueviolet; //TODO: Please change
}

a.nav-link {
  color: white;
  font: 15px "Open Sans", sans-serif;
}


div.nav-vertical-divider {
  width: 2px;
  height: 30px;
  margin-top: 5px;
  background: white;

}

li.nav-item {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

a.fa {
  padding: 0;
  color: white;
}

div.social-media {
  padding-top: 9px;
}


#main-info {
  margin-top: 54px;
}

#main-info.alongside-sidebar, #sidebar {
  margin-top: 0px;
  padding-top: 54px;
}

#footer > * {
  padding-left: 11vw;
  padding-right: 11vw;
}


//************************//

.jumbotron {
  background-color: #ffffff !important;
  border-top: 3px solid rgb(219, 219, 219);
}


//SlideShow
.slideshow-container {
  position: relative;
}

.slide {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100vh;

}

.slideshow-container .slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);

}


.slideshow-text #slogan {
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 14vw;
  left: 50%;
  transform: translateX(-50%);
}

#slogan .col h2 {
  font: 75px Fjalla One, sans-serif;
}


.slideshow-text {
  color: white;
}


#slogan-vertical-divider {
  width: 5px;
  height: 80px;
  background: white;

}

@media (max-width: 768px) {
  #slogan-vertical-divider {
    position: absolute;
    top: -4vw;
    width: 5px;
    height: 80px;
    background: white;
    transform: rotate(90deg);
  }
  #row-vertical-divider {
    // min-height: 20px;
    position: relative;
    height: 40px;
  }
  #slogan .col h2 {
    font: 70px Fjalla One, sans-serif;
  }
}

@media (max-width: 450px) {
  #slogan .col h2 {
    font: 15vw Fjalla One, sans-serif;
  }
}

@media (max-width: 992px) {
  .nav-vertical-divider {
    all: initial;

    * {
      all: unset;
    }

  }

}

/* Next & previous buttons */
.slideshow-container a.prev, .slideshow-container a.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  opacity: 50%;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards
}

@-webkit-keyframes fade {
  from {
    opacity: .8
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .8
  }
  to {
    opacity: 1
  }
}

//Submenus
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {

  transform: translate(0, -8%);
  position: relative;


  border-radius: 6px 6px 6px 6px;

}


.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}


.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: left;
  transform: scaleX(-1);
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
  margin-left: -20px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-menu {
  min-width: 50px !important;
}


.btn.btn-primary {
  border-radius: 15px;
}


//Home Page Cards
.home-card {
  position: relative;
  width: 100%;
  height: 100vh;


  //overflow-y: hidden;
}



#university-application-card {
  background-color: $dark;
}

.home-card .card-body {
  z-index: 1;
  position: absolute;
  //color: $primary;
  left: 8%;
  top: 20%;
  width: 84%
}

#university-application-card .card-body {
  text-align: right;
}

#high-school-card .card-body {
  border: 15px solid $primary;
  background-color: white;
  left: -20px;
  border-radius: 15px;
  padding-left: 10vw;
  width: 70%;
  min-width: 280px;
  box-shadow: 12vw 80px rgba(113, 200, 240, 0.2);
}


.home-card .card-body h3 {
  font: 60px bolder, "Open Sans", sans-serif;
  margin-bottom: 20px;

}

#learn-more-card .card-body h3, #high-school-card .card-body h3 {
  color: $darker;
}

#university-application-card .card-body h3 {
  color: white;
}

.home-card .card-body h4 {
  font: 36px bolder, "Open Sans", sans-serif;
  margin-bottom: 20px;
  padding-top: 30px;
}

#learn-more-card .card-body h4, #high-school-card .card-body h4 {
  color: $dark;
}

#university-application-card .card-body h4 {
  color: white;
}

.home-card .card-body a {
  font: 25px bolder, "Open Sans", sans-serif;
  display: block;
  padding-top: 30px;
}

@media screen and (min-width: 601px) and (max-width: 1000px){

  .home-card .card-body {
    left: 8%;
    top: 6vw;
    width: 84%
  }
  .home-card .card-body h3 {
    font-size: 8vw;
    margin-bottom: 20px;
  }
  .home-card .card-body h4 {
    font: 36px bolder, "Open Sans", sans-serif;
    margin-bottom: 20px;
    padding-top: 30px;
  }
  .home-card .card-body a {
    font: 25px bolder, "Open Sans", sans-serif;
    display: block;
    padding-top: 30px;
  }
  #high-school-card .card-body {

    width: 90%;

  }


}


#curve1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: white;
}

#high-school-card svg pattern {

  stroke: #fd63a3;
  position: absolute;
}


#card-grid-1 pattern {
  stroke: $primary;
  position: absolute;

}


.dotted-grid {
  position: absolute;
  top: 40%;
  left: 5%;

  height: 50%;
  width: 50%;
  opacity: 50%;
  background-image: url("/src/assets/Index/dot_grid.svg");
  background-size: cover;
}

.rect-1 {
  position: absolute;
  top: -110px;
  left: 15%;

  border-radius: 25px;
  background: $primary;
  padding: 20px;
  width: 500px;

  height: 160px;
}

.rect-2 {
  position: absolute;
  top: -10px;
  left: 40%;
  border-radius: 25px;
  background: #B44C78;
  padding: 20px;
  width: 300px;
  height: 120px;
}
@media screen and (max-width: 600px){
  .home-card .card-body {
    left: 4%;
    width: 92%;
    top: 4vw;
  }
  .home-card .card-body h3 {
    font-size: 11vw;
    margin-bottom: 0px;
  }
  .home-card .card-body h4 {
    font: 26px bolder, "Open Sans", sans-serif;
    margin-bottom: 20px;
    padding-top: 30px;
  }
  .home-card .card-body a {
    font: 23px bolder, "Open Sans", sans-serif;
    display: block;
    padding-top: 30px;
  }
  #high-school-card .card-body {
    width: 95%;
  }

  .rect-1 {
    top: -80px;
    left: 0;
    width: 90%;
    border-radius: 0 20px 20px 0;
    height: 100px;
  }

  .rect-2 {
    top: -10px;
    left: 0px;
    width: 95%;
    height: 120px;
    border-radius: 0 20px 20px 0;
  }
}


#page-description {
  background-color: $primary;

}

#page-description p, #page-description h2 {
  color: white;
}

#reasons {
  list-style: none;
}

#reasons li::before {
  content: "★"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $primary; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */

}


#landscape-image img { //for making the image resize when page is adjusted

  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}

.card-text {
  color: #AAAAAA;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

#subscribe {
  border-radius: 0px 15px 15px 0px;
}

#email-input {
  border-radius: 15px 0px 0px 15px;

}

.col-lg-3.col-md-6.col-sm-12 ul {
  list-style: none;
}

.col-lg-3.col-md-6.col-sm-12 ul li::before {
  content: "›"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $primary; /* Change the color */
  font-weight: 900; /* If you want it to be bold */
  font-size: 20px;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */

}

.input-group.mb-3 .form-control::placeholder {
  font-size: 13px;
}

#copyright h6 {
  font-size: 10px;
}

#copyright {
  background: rgba(0, 0, 0, 0.24);
}


.wrapper {
  display: flex;
  width: 100%;
  // position: relative;
  flex-direction: row;

}

#sidebar-div {
  // padding-left: 1vw;
  padding-top: 15px;
}

#sidebar {
  width: 250px;
  top: 0;
  left: 0;
  min-height: 100vh;
  position: sticky;
  background: white;
  color: $dark;
  transition: all 0.3s;
  border-right: 2px solid $gray;


}

#sidebar .sidebar-header {
  padding-left: 20px;
}

#sidebar ul {
  padding-left: 0;
  list-style-type: none;
}

.sidebar-nav a.icon {
  font-size: 60px;
  padding-top: 0;
  display: none;
  color: $dark;
  transform: rotate(90deg);
  text-decoration: none;
}

.sidebar-nav a.icon:hover {
  color: $primary;
}


#sidebar .sidebar-components .sidebar-item a {
  color: $dark;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;
  transition: background-color 400ms, color 400ms;

}

#sidebar .sidebar-components .sidebar-item a:hover {
  background-color: $dark;
  color: white;

}

#sidebar .sidebar-components .sidebar-item .course-unit-dropdown {
  //color: $dark;
  font-size: 13px;
}

#sidebar .sidebar-components .sidebar-item .course-unit-dropdown li a {
  padding-left: 30px;
  display: block;
}

@media screen and (max-width: 800px) {
  #nav-bar.alongside-sidebar {
    position: relative;
  }
  .wrapper {
    flex-direction: column;
    position: relative;
    top: 0px;
  }
  #sidebar {
    min-height: 20px;
    border-right: 0;
    width: 100%;
    max-height: 70vw;
    overflow: auto;
    padding-top: 0;

  }
  #sidebar-div {
    background: white;
    position: sticky;
    position: -webkit-sticky; /* for Safari */
    top: 0;
    align-self: flex-start;
    width: 100%;
    min-height: 55px;
    border-right: 0;
    padding-top: 5px;

  }
  #sidebar-components {
    margin: 0;
  }
  #main-info.alongside-sidebar {
    padding-top: 0;

  }


  #sidebar .sidebar-header {
    display: inline-block;
  }
  .sidebar-nav .sidebar-components .sidebar-item {
    display: none;
  }
  .sidebar-nav a.icon {
    position: absolute;
    right: 40px;
    top: -30px;
    display: block;
  }




  .sidebar-nav.responsive .sidebar-components .sidebar-item {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

//Course information


 .course-title{
  height: 65vh;
  background-image: linear-gradient(rgba(0, 0, 51, 0.7), rgba(0, 0, 51, 0.7)), url("/src/assets/university_backdrop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
   box-shadow: #cbcbcb 0 25px;


}
.wrapper #main-info .course-title .title{
position: absolute;
  top: 35%;
  left: 10%;

}

.course-vertical-bar{
  position: absolute;
  transform: translateY(-50%);
  left: 5%;
  top: 50%;
  width: 5px;
  background-color: white;
  height: 70%;
}
.wrapper #main-info > *:not(:first-child){
  padding-left: 8%;
  padding-right: 8%;
}
.course-heading{
  padding-top: 80px;
  font-size: 50px;
}
.course-heading, .course-subheading{
  padding-bottom: 10px;
  padding-top: 20px;
  font: $dark "Fjalla One Regular", sans-serif;
  color: $dark;
}
p.coursebody{
font-size: 18px;
  font-family: "Lato Medium", sans-serif;
  color: $secondary;

}

//Footer

#footer-container, #copyright{
  text-align: center;
  color: white;
}
#footer-container{
  background-color: $darker;
  padding-bottom: 20px;
}
#footer-container h3{
  font: 26px "Brandon Grotesque M", sans-serif;
}
#footer-container a{
  font: 15px "Brandon Grotesque M", sans-serif;
  color:white;

}
#copyright{
  background-color: $primary;
  font: 10px "Soleil Bold", sans-serif;

}
#copyright h3{
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 17px;
}
.header-nav{
  font: 20px "Soleil Bold", sans-serif;
  padding-top: 15px;
}
.header-nav a{
  padding-left: 2vw;
  padding-right: 2vw;
  color: white;
  display: inline;
}
.footer-vertical-divider{
  display: inline-block;
  width: 1.5px;
  height: 20px;
  background-color: $secondary;
}


//*************//*************//*************
//*************
//*************
//*************
// Bootstrap Sass Imports ***MAKE SURE THIS IS AT THE BOTTOM IN ORDER FOR YOUR OVERRIDES TO WORK
// Bootstrap Sass Imports ***MAKE SURE THIS IS AT THE BOTTOM IN ORDER FOR YOUR OVERRIDES TO WORK
// Bootstrap Sass Imports ***MAKE SURE THIS IS AT THE BOTTOM IN ORDER FOR YOUR OVERRIDES TO WORK
@import "node_modules/bootstrap/scss/bootstrap";



